wog-login-form {
    
    margin-bottom: 10px;
    display: block;
    text-align: center;

    // form {
    //     @extend .col-sm-2, .col-form-label;
    // }
    wog-input-component {
        width : 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .form {
        font-family : "Goudy Bookletter 1911", sans-serif;
    }
    #loginInput {
        margin-bottom: 10px;
    }
    #passwordInput {
        margin-bottom: 10px;
    }
    
    
}