wog-login-form {
    
    .form {
        font-family : "Goudy Bookletter 1911", sans-serif;
    }
    #loginInput {
        margin-bottom: 10px;
    }
    #passwordInput {
        margin-bottom: 10px;
    }
    margin-bottom: 10px;
    display: block;
    
}