@import "~bootstrap/dist/css/bootstrap.css";

body {

    p {
        color: white;
    }
    h1 {
        box-sizing: border-box;
        border: 2px solid black;
    }

    img {
        margin-bottom: 20px;
    }
}