@import "~bootstrap/dist/css/bootstrap.css";
@import "./src/app/register/user-form/user-form.scss";
@import "./src/app/login/login.component.scss";

body {

    background-color: rgba(230, 230, 230, 0.966);
    text-align: center;


    img {
        margin-bottom: 20px;
    }
}