@import "./user-form/user-form.component.scss";

wog-register-component{
    background-color: lightgray;
    display: block;
    padding-left: 10px;

    wog-back-button {
        display:block;
        width:200px;
        margin-right: auto;
        margin-left: auto;
    }
}