
wog-brand-title-component{
    img {
        margin-bottom: 10px;
        padding-top:10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    h1 {
        @extend .display-1;
        margin-bottom: 20px;
    }
}